*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*ESTILOS INDEX*/

.main{
    background-image: linear-gradient(to bottom, #535152, #4b4a4b, #434243, #3b3b3c, #343435, #2e2e2f, #272829, #212223, #1b1c1d, #141616, #0c0f0e, #020403);
    width: 100vw;
    margin-top: 12vh;
}
.navBarResponsive{
    display: none;
}
.cardsPortada{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15vh;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 25vw;
    text-align: center;
    margin: 4vh;
    border-radius: 0 20% 0 20%;
    box-shadow: 4px 4px 8px rgb(44, 43, 43);
}
.imgCardPortada{
    height: 40vh;
    width: 20vw;
    background-image: linear-gradient(to top, #8a7d4e, #a29464, #baac7b, #d3c492, #ecddaa);
    border-radius: 10%;
}
.cardWhite{
    background-image: linear-gradient(to top, #40372d, #352c23, #2a211a, #1f1710, #160a00);
}
.cardBlack{
    background-image: linear-gradient(to top, #1f1e1e, #1a191a, #151515, #0f0f0f, #070707);
}
.pPortada{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(250, 250, 250);
}
.h2Portada{
    font-family: 'Quicksand', sans-serif;
    color: rgb(252, 250, 248);
    font-size: 7vh;
}
.bg-dark {
    background-color: none;
}
header{
    position: relative;
    height: 100vh;
    width: 100%;
}
.figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 90px 50px;
    height: 61vh;
}
.featurette-divider{
    color: bisque;
}
.figure p{
    margin: 29px;
    color: rgb(250, 243, 239);
}
.figure h2{
    margin: 30px;
    color: rgb(187, 187, 186);
}
.figure img{
    height: 450px;
}
.ratio{
    position: absolute;
}
.row1{
    margin: 79px;
}  
.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-around;
}
.text-muted1{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: bisque;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
}
.nav-link a{
    color: bisque;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
    align-items: enter;
}
.navbar-collapse ul li a{
    color: bisque;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
    align-items: enter;
}
.d-flex{
    padding: 17px;
}
.collapse .navbar-collapse{
    z-index: 3;
}
.fa-bars{
    color: blanchedalmond;
}
footer{
    height: 6vh;
    margin-top: 8vh;
}
/*ESTILOS COLECCIÓN*/

.mainColeccion{
    background-image: linear-gradient(to top, #6f6964, #8d8883, #aba9a4, #cccac6, #edede9);
    width: 100%;
}
.portadaColeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pColeccion{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10vh;
    font-weight: bold;
    margin-top: 30vh;
    margin-right: 40vw;
    text-shadow: 5px 5px 10px rgb(87, 85, 85);
}
.videoColeccion{
    width: 50vw;
}
.fondo1{
    position: relative;
    margin-top: 120vh
}
.camp6{
    margin-top: 20vh;
    position: absolute;
    box-shadow: 5px 5px 10px rgb(56, 55, 55);
}
.videoColeccion{
    height: 90vh;
}
.bloque1{
    height: 50vh;
    width: 50vw;
    background-color: rgba(222, 184, 135, 0.541);
}

/*ESTILOS CARTERAS*/

.mainProductos{
    width: 100vw;
    background-image: linear-gradient(to bottom, #535152, #4b4a4b, #434243, #3b3b3c, #343435, #2e2e2f, #272829, #212223, #1b1c1d, #141616, #0c0f0e, #020403);
}
.cardProductos{
    border:solid 2px rgb(92, 90, 90);
    border-radius: 15px;
    margin: 10px 5px;
}
.card-title{
    font-family: 'Zen Kurenaido', sans-serif;
    color: rgb(247, 232, 213);
    font-size: 3vh;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(100, 98, 98, 0.84);
}
.card-text{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(201, 190, 175);
    
    text-align: center;
}
.card-img-top:hover{
    transform: scale(1.8);
    transition: 500ms;
}

/*ESTILOS CONTACTO*/

.headerPages{
    height: 15vh;
    background-color: #535152;
    padding-top: 1vh;
}
.formContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.imgContact{
    width: 45vw;
}
.form-control{
    margin-top: 15px;
    width: 30vw;
}
.nombre{
    margin-top: 40px;
}
.form-select{
    margin-top: 15px;
}
.col-auto{
    margin-top: 15px;
}
.formBtn{
    margin-top: 15px;
}
.btn-success{
    background-color: rgb(88, 33, 33);
}
.containerFooter{
    height: 6vh;
    padding-bottom: 0%;
}

/*MEDIA QUERYS*/

@media(max-width: 1024px){
    .img1{ 
        width: 180px;
        height: 180px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    .imgCard{
        height: 50vh;
    }
    .figure span{
        font-size: 2em;
    }
    .lead{
        font-size: 12px;
    }
    .figure{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 90px;
        height: 60vh;
    }
    .figure p{
        margin: 29px;
        color: rgb(250, 243, 239);
        font-size: 2.5vh;
    }
    .figure h2{
        margin: 30px;
        color: rgb(187, 187, 186)
    }
    .figure img{
        height: 400px;
    }
    .formContact{
        align-items: center;
    }
    .formContainer{
        justify-content: space-around;
    }
    .imgContact{
        width: 50vw;
        height: 55vh;
    }
    .nombre{
        margin-top: 5vh;
    }
    .fondo1{
        width: 80vw;
        margin-top: 100vh;
    }
    .fondo2{
        width: 80vw;
        margin-top: -20vh;
    }
    .videoColeccion{
        margin-top: -20vh;
    }
    .main{
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    header{
        height: 78vh;
    }
    .navBarAmplia{
        display: none;
    }
    .navBarResponsive{
        display: block;
    }
    .figure{
        height: 80vh;
        width: 90vw;
        margin: 10px;
        text-align: center;
    }
    .figure img{
        height: 300px;
        width: auto;
    }
    .figure .text-muted1{
        font-size: 22px;
    }
    .col-md-4 {
        width: 35vw;
    }
    .text-muted{
        width: 17vw;
        font-size: 2vh;
    }
    .display-5{
        font-size: 1rem;
    }
    .imgCard{
        height: 40vh;
    }
    p .lead{
        font-size: 10px;
    }
    .d-md-flex{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .formContact{
        justify-content:space-around;
        width: 90vw;
    }
    .imgContact{
        width: 45vw;
        height: 40vh;
    }
    .form-control{
        width: 50vw;
    }
    .form-select{
        width: 50vw;
    }
    .card-text{
        font-size: 2vh;
    }
    .mainProductos{
        width: 100vw;
        flex-wrap: rap;
    }
    .cardProductos{
        flex-wrap: rap;
    }
    .card1{
        margin: 1vh;
        width: 30vw;
    }
    .col{
        padding: 2px;
    }
    .pColeccion{
        font-size: 8vh;
        margin-top: 30vh;
    }
    .camp6{
        height: 80vw;
        margin-left: 6vw;
        margin-top: 10vh;
        position: absolute;
    }
    .videoColeccion{
        width: 80vw;
        margin-bottom: 10vh;
        margin-left: 5.5vh;
    }
    .imgCardPortada{
        height: 28vh;
    }
    .h2Portada{
        font-size: 6vh;
    }
    .pPortada{
        font-size: 3vh;
    }
}

@media (max-width: 425px) {

    header{
        height: 33vh;
    }
    .logoHeader{
        width: 20vw;
    }
    a .nav-link{
        font-size: 5px;
    }
    .logoFooter{
        width: 15vw;
    }
    .col-md-4 {
        width: 45vw;
    }
    .card1{
        width: 90vw;
    }
    .imgCardPortada{
        width: 50vw;
    }
    .figure {
        flex-direction: column;
    }
    .figure img{
        height: 200px;
    }
    .d-flex {
        padding: 0;
    }
    .formContainer{
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .imgContact{
        width: 90vw;
        height: 30vh;
        margin-top: 5vh;
    }
    .formContact{
        margin-top: 3vh;
    }
    .form-control{
        width: 90vw;
    }
    .form-select{
        width: 90vw;
    }
    .nombre{
        margin-top: 0;
    }
    .cardProductos{
        width: 88vw;
    }
    .card-text{
        font-size: 3vh;
    }
    .col{
        padding: 0 4vw;
    }
    .videoColeccion{
        width: 80vw;
        height: 60vh;
    }
    .pColeccion{
        font-size: 5vh;
        margin-top: 10vh;
    }
    .fondo1{
        margin-top: 30vh;
        width: 90vw;
    }
    .fondo2{
        margin-top: 1vh;
        width: 90vw;
    }
}

